<li class="SC-Menu_item sc-hide-up-to-medium sc-depth-overlay sc-cursor-pointer">
  <span class="SC-Menu_link" data-js-toggle-active-trigger="SC-Header_search">
    <span class="sc-pointer-events-none">{% render "shared/icons/search", style_class: "SC-Icon" %}</span>
  </span>
</li>
